<h1>Zarządzanie produktami</h1>
<table class="table table-bordered">
  <tr>
      <td><strong>Obrazek</strong></td>
      <td> <strong>Nazwa produktu</strong></td>
      <td><strong>Opis produku</strong></td>
      <td><strong>Cena</strong></td>
      <td><strong>Edytuj</strong></td>
      <td><strong>Usuń</strong></td>
  </tr>
  {{# each products}}
    <tr>
      <td> <img src="{{this.imagePath}}" class="img-responsive" style="max-height: 40px;">  </td>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td><a href="/admin/edit-product/{{this._id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
      <td><a href="/admin/delete-product/{{this._id}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
     </tr>
  {{/each}}
  <tr>
      <td><a href="/admin/add-product">Dodaj nowy produkt</a></td>
  </tr>
</table>